[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
boto3 = "==1.7.84"
botocore = "== 1.10.84"
moto = "==1.3.6"
slackclient = "==1.3.0"
python-dateutil = "==2.7.5"
luigi = "*"
pandas = "*"
numpy = "*"
tqdm = "*"

[requires]
python_version = "3.6.7"
