[tool.poetry]
name = "gokart"
version = "0.0.0"  # using poetry-dynamic-versioning
description="A wrapper of luigi. This make it easy to define tasks."
authors = ["M3, inc."]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/m3dev/gokart"
repository = "https://github.com/m3dev/gokart"
documentation = ""

[tool.poetry-dynamic-versioning]
enable = true
style = "pep440"
pattern = "^(?P<base>\\d+\\.\\d+\\.\\d+)"

[tool.poetry.dependencies]
python = "^3.6"
luigi = "*"
boto3 = "*"
slack-sdk = "^3.0"
pandas = "*"
numpy = "*"
tqdm = "*"
google-auth = "*"
pyarrow = "*"
uritemplate = "*"
google-api-python-client = "*"
APScheduler = "*"
redis = "*"
matplotlib = "*"
moto = "==1.3.6"
testfixtures = "==6.14.2"
coverage = "*"

[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"
