name: Test

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  tests:
    runs-on: ${{ matrix.platform }}
    strategy:
      max-parallel: 7
      matrix:
        platform: ["ubuntu-latest"]
        tox-env: ["py310", "py311", "py312", "py313"]
        include:
          - platform: macos-15
            tox-env: "py313"
          - platform: macos-latest
            tox-env: "py313"
    steps:
    - uses: actions/checkout@v4
    - name: Set up the latest version of uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
    - name: Install dependencies
      run: |
        uv tool install --python-preference only-managed --python 3.12 tox --with tox-uv
    - name: Test with tox
      run: uvx --with tox-uv tox run -e ${{ matrix.tox-env }}
